<div id="feedFlex">
    <%- include("header") %>
    <div id="toolbar">
        <a href="/" class="buttonStyle">Feed</a> &nbsp &nbsp
        <a href="/albumSearch" class="buttonStyle">Album Search</a> &nbsp &nbsp
        <a href="/userProfile?page=1" class="buttonStyle">Your List</a> &nbsp &nbsp
        <a href="/logout" class="buttonStyle">Log out</a>
    </div>

    <div id="header">
        <h1>Musica</h1>
        <% if (displaynameUpdate) { %>
            <p class="message hidden">Display Name Updated!</p>
        <% } %>

        <% if (emailUpdate) { %>
            <p class="message hidden">Email Updated!</p>
        <% } %>

        <% if (passwordUpdate) { %>
            <p class="message hidden">Password Updated!</p>
        <% } %>
        <hr>
        <h2>User Account Settings</h2>
        <br>
        <a href="/change/displayname" role="button" class="buttonStyle" style="display: inline-block">Change Display Name</a>
        <br>
        <% if (!googleAcc) { %>
            <a href="/change/email" role="button" class="buttonStyle" style="display: inline-block">Change Email</a>
            <br>
            <a href="/change/password" role="button" class="buttonStyle" style="display: inline-block">Change Password</a>
        <% } %>
    </div>
    
    <hr style="width: 22%; border-width: 1.9px;">
    <br>

    <%- include("footer") %>
</div>