<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <% if (logged) { %>
            <a href="/" class="buttonStyle">Feed</a> &nbsp &nbsp
            <a href="/userProfile?page=1" class="buttonStyle">Your List</a> &nbsp &nbsp
            <a href="/account" class="buttonStyle">Account</a> &nbsp &nbsp
            <a href="/logout" class="buttonStyle">Log out</a>
        <% } else { %>
            <a href="/" class="buttonStyle">Go Back</a>
        <% } %>
    </div>

    <div id="header">
        <h1>Musica</h1>
        <% if (error) { %>
            <p class="message hidden">Album not found!</p>
        <% } %>
        <hr>

        <form action="/albumSearch" method="post">
            <input type="text" name="userArtist" placeholder="Artist">
            <br>
            <input type="text" name="userAlbum" placeholder="Album">
            <br>
            <input type="text" name="year" placeholder="Year">
            <br>
            <input type="text" name="discogsId" placeholder="Discogs Master ID">
            <button type="submit" class="buttonStyle" style="font-size: 2rem; margin-top: 10px">Search</button>
        </form>
        <hr style="width: 22%; border-width: 1.9px; margin-top: -15px">
        <h2 style="font-size: 23px; font-family: Itim">Entry in all fields increase accuracy although not required!</h2>
        <h2 style="font-size: 20px; font-family: Itim">Discogs album ID can be found on discogs.com and takes precedence over other fields</h2>
    </div>
    <%- include("footer") %>
</div>