<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <% if (logged) { %>
            <a href="/" class="buttonStyle">Feed</a> &nbsp
            <a href="/userProfile" class="buttonStyle">Your Lists</a> &nbsp
            <a href="/logout" class="buttonStyle">Log Out</a>
        <% } else { %>
            <a href="/" class="buttonStyle">Go Back</a>
        <% } %>
    </div>

    <div id="header">
        <h1>Musica</h1>
        <% if (error) { %>
            <p class="message hidden">Album not found!</p>
        <% } %>
        <hr>

        <form action="/albumSearch" method="post">
            <input type="text" name="userArtist" placeholder="Artist">
            <br>
            <input type="text" name="userAlbum" placeholder="Album">
            <br>
            <input type="text" name="year" placeholder="Year">
            <button type="submit" class="buttonStyle" style="font-size: 2.2rem">Search</button>
        </form>
        <hr style="width: 25%; border-width: 2px; margin-top: -20px">
    </div>
    <%- include("footer") %>
</div>