<div id="feedFlex">
    <%- include("header") %>
    <div id="toolbar">
        <a href="/" class="buttonStyle">Go Back</a>
    </div>

    <div id="header">
        <h1>Musica</h1>
        <% if (entered) { %>
            <p class="message hidden">Email Sent!</p>
        <% } %>

        <% if (error) { %>
            <p class="message hidden">Please Enter a Valid Email!</p>
        <% } %>

        <% if (noEmail) { %>
            <p class="message hidden">No User With Entered Email Exists!</p>
        <% } %>

        <% if (tokenExpired) { %>
            <p class="message hidden">Reset Expired! Please Request Again</p>
        <% } %>
        <hr>

        <h2>Forgot Password?</h2>
        <form action="/forget" method="POST">
            <input type="email" name="username" id="username" placeholder="Email">
            <br>
            <button type="submit" value="Recovery" class="buttonStyle" style="font-size: 2rem">Send Recovery Email</button>
        </form>
    </div>

    <hr style="width: 25%; border-width: 2px; margin-top: -15px">
    <br>

    <%- include("footer") %>
</div>