<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <p>Musica</p>
        <a href="/albumSearch" class="buttonStyle">Album Search</a> &nbsp &nbsp
        <a href="/login" class="buttonStyle">Login</a> &nbsp &nbsp
        <a href="/register" class="buttonStyle">Register</a>
    </div>
    
    <div id="header">
        <% if (loggedOut) { %>
            <p class="message hidden">Successfully Logged Out!</p>
        <% } %>
        <h2>Public Feed</h2>
    </div>
    <hr style="width: 18%; border-width: 1.9px; margin-top: 2px">

    <%- include("footer") %>
</div>