<%- include("header") %>

<div id="feedFlex">
    <div id="toolbar">
        <a href="/login" class="buttonStyle">Login</a> &nbsp
        <a href="/register" class="buttonStyle">Register</a>
    </div>
    
    <div id="header">
        <h1>Musica</h1>
        <hr>
        <h2>Public Feed</h2>
    </div>
</div>

<%- include("footer") %>