<%- include("header") %>

<div id="toolbar">
    <a href="/userHome" class="buttonStyle">Go Back</a>
</div>

<h1>Musica</h1>
<hr>
<p class="message">You are already logged in!</p>
<br>

<%- include("footer") %>