<%- include("header") %>
<br>
<h1>Musica</h1>
<hr>

<form action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" style="margin-right:1.45rem">
    <br><br>
    <button type="submit" class="buttonStyle">Login</button><br>
</form>
<br>
<a href="/auth/google" role="button">Sign In With Google</a>
<br>
<a href="/">Go Back</a>
<br>

<%- include("footer") %>