<div id="feedFlex">
    <%- include("header") %>
    <div id="toolbar">
        <p>Musica</p>
    </div>

    <div id="header">
        <% if (error) { %>
            <p class="message hidden">One or More Fields Were Not Entered!</p>
        <% } %>

        <% if (duplicatePwError) { %>
            <p class="message hidden">Re-Entered Password Didn't Match!</p>
        <% } %>

        <h2>Password Reset</h2>
        <form action="/passwordReset?&userID=<%=userID%>&token=<%=token%>" method="POST">
            <input type="password" name="passwordNew1" id="passwordNew1" placeholder="New Password">
            <br>
            <input type="password" name="passwordNew2" id="passwordNew2" placeholder="Re-Enter New Password">
            <br>
            <button type="submit" class="buttonStyle" style="font-size: 2rem">Reset Password</button>
        </form>
    </div>

    <hr style="width: 22%; border-width: 1.9px; margin-top: -15px">
    <br>

    <%- include("footer") %>
</div>