<%- include("header") %>

<div id="feedFlex">
    <div id="toolbar">
        <a href="#">Top</a> |
        <a href="/userProfile">Your Lists</a> |
        <a href="/logout">Log Out</a>
    </div>
    
    <div id="header">
        <h1>Musica</h1>
        <hr>
        <h2>Your Feed</h2>
    </div>
</div>

<%- include("footer") %>