<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <a href="/albumSearch" class="buttonStyle">Album Search</a> &nbsp &nbsp
        <a href="/userProfile" class="buttonStyle">Your Lists</a> &nbsp &nbsp
        <a href="/account" class="buttonStyle">Account</a> &nbsp &nbsp
        <a href="/logout" class="buttonStyle">Log Out</a>
    </div>
    
    <div id="header">
        <h1>Musica</h1>
        <% if (loggedIn) { %>
            <p class="message hidden">Successfully Logged In!</p>
        <% } %>

        <% if (googleDisplayname) { %>
            <p class="message hidden">Display Name Updated!</p>
        <% } %>
        <hr>
        <h2>Your Feed</h2>
    </div>
    <hr style="width: 22%; border-width: 1.9px;">

    <%- include("footer") %>
</div>
