<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <a href="/userHome" class="buttonStyle">Go Back</a>
    </div>
    
    <div id="header">
        <h1>Musica</h1>
        <p class="message hidden">User Profile Does Not Exist!</p>
        <hr>
    </div>
    <br>

    <%- include("footer") %>
</div>