html {
    background-color: #66BFBF;
    text-align: center;
}

h1 {
    color: #FFE898;
    font-size: 6rem;
    font-family: "Shadows Into Light", Arial, sans-serif;
    margin: 0;
}

h2 {
    color: #FFE898;
    font-size: 2rem;
    font-family: "Shadows Into Light", Arial, sans-serif;
    margin: 0;
}

h3 {
    margin-left: 8.5%;
    text-align: left;
    font-size: 1.3rem;
    font-style: italic;
    border-bottom: 1px;
}

hr {
    border-style: solid;
    border-color: #FFE898;
    border-width: 5px;
    border-radius: 50%;
    width: 66%;
}


#feedFlex {
    display: flex;
    flex-direction: column;
}

#toolbar {
    position: fixed;
    text-align: right;
    float: left;
    z-index: 2;
    width: 99%;
}

#header {
    display: inline-block;
    margin-top: 22px;
    z-index: 1;
    background-color:#66BFBF;
}

#albumsFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 665px;
    width: 1000px;
    z-index: 4;
}

#albumEntry {
    width: 945px;
    background-color:#66BFBF;
    margin-left: 10.5%;
}

#albumTracks {
    position: absolute;
    display: inline-block;
    margin: 0 auto 0 auto;
    padding-left: 1.2%;
    text-align: left;
    line-height: 0;
    font-family: 'Caveat', sans-serif;
    font-size: 110%;
    height: 600px;
    width: 290px;
    overflow-y: auto;
    white-space: nowrap;
    z-index: 3;
}

.hidden {
    visibility: hidden;
}

.buttonStyle {
    color: #FFE898;
    font-size: 2rem;
    font-family: "Shadows Into Light", Arial, sans-serif;
    margin: 0;
    text-decoration: underline dotted;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.imgAlbum {
    object-fit: fill;
    width: 600px;
    height: 600px;
}

.textOverflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.trackList:hover {
    scrollbar-width: thin;
    -ms-overflow-style: auto;
    display: inline-block;
}

.hideScrollbar1::-webkit-scrollbar {
    display: none;
  }

.hideScrollbar2 {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}